/*IMPORTANTO FONT EXTERNA*/
@font-face {
    font-family: 'SabisMix';
    src: url('Blank River.ttf') format('truetype');
}
body{
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
/*ESTILIZAÇÃO DOS CONTEÚDOS NO HEADER*/
.header-control{
    height: 20vh;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #162565, #f72d93);
    padding: 35px 0px;
    width: 100%;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo-box h1{
    font-size: 3rem;
    font-family: 'SabisMix';
    color: white
}
#header-img{
    width: 100%;
}
.nav-bar__lista{
    display: flex;
}
.nav-link{
    padding: 10px;
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    border-bottom: 3px solid white;
    padding-bottom: 7px;
}
.custom-shape-divider-top-1642714017 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
/*ESTILIZAÇÃO DA FOLHA DE APRESENTAÇÃO DO SITE*/
.home{
    height: 100vh;
    width: 100%;
    display: flex;
}
.img-show{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figure-cyborg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.cyborg-img{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}
figcaption{
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}
.anunciacao{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #162565;
}
.SabisMix-logo{
    font-family: 'SabisMix';
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 7rem;
    background: -webkit-linear-gradient(#162565, #f72d93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.SabisMix-texto_normal{
    font-family: 'SabisMix';
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    color:white;
}
/*ESTILIZAÇÃO DA HISTÓRIA DO SABISMIX*/
#sobre{
    height: 100vh;
    width: 100%;
    border-top: 5px groove #07dfb2;
    border-bottom: 5px groove #07dfb2;;
    display: flex;
}
.sobre__descricao{
    display: flex;
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sobre__descricao___box{
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sobre__descricao___box____paragrafo{
    font-size: 1.5rem;
    text-align: justify;
    border-bottom: 5px double #162565;
    padding: 50px 0px;
}
.titulos{
    font-size: 3.5rem;
    color: #162565;
    font-weight: bold;
    border-bottom: 5px double #07dfb2;
    border-top: 5px double #bb84b3;
    padding: 50px 0px;
}
/*ESTILIZAÇÃO DA AMOSTRA DO EVENTO*/
#evento{
    height: 150vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.data, .gastroparty, .video{
    display: flex;
    width: 100%;
    height: 50%;
}
.data__texto, .gastroparty__texto, .video__texto{
    width: 40%;
    height: 100%;
    background-color: #0adcb1;
}
.video__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video__texto___titulo____destaque{
    color: #162565;
}
.data__texto, .video__texto{
    border-right: 6px dashed #162565;
}
.gastroparty__texto{
    border-left: 6px dashed #162565;
}
.data__img, .gastroparty__img, .video__video{
    width: 60%;
    height: 100%;
    background-color: blueviolet;
}
.data__img{
    background: url('img/villa-mix-festival-2021.jpg')center / cover no-repeat;
}
.data__texto___paragrafo, .gastroparty__texto___paragrafo, .video__texto___paragrafo{
    color: white;
    font-size: 1.7rem;
    text-align: justify;
    padding: 0px 30px 20px 30px;
}
.data__texto___titulo, .gastroparty__texto___titulo, .video__texto___titulo{
    color: white;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 30px 40px;
}
.gastroparty__img{
    background: url('img/food.jpg')center / cover no-repeat;
}
/*-------------------- CSS PACOTES -------------------- */
#pacotes{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pacotes__enunciado{
    height: 30%;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px dashed #0adcb1;
}
.pacotes__ingressos{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.pacotes__enunciado___titulo{
    font-size: 3.5rem;
    color: #162565;
    font-weight: bold;
    text-align: center;
    line-height: 85px;
}
.pacotes__enunciado___titulo____destaque{
    font-family: 'SabisMix';
    font-size: 6rem;
    letter-spacing: 7px;
}
.card-ingresso{
    display: grid;
    width: 30%;
    height: 90%;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "titulo"
        "descricao"
        "botao";
    background: #68538a;
    flex-wrap: wrap;
    border-radius: 20px;
}
.card-ingresso___titulo{
    grid-area: titulo;
    border-bottom: 4px dashed white;
    font-size: 3.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-ingresso___descricao{
    grid-area: descricao;
    font-size: 1.7rem;
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: justify;
    display: flex;
    align-items: center;
}
.card-ingresso___botao{
    grid-area: botao;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-ingresso___botao____link{
    font-size: 1.5rem;
    background: white;
    color: #162565;
    padding: 20px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
.card-ingresso___botao____link:hover{
    background: #e1dce8;
}
/*ESTILIZAÇÃO DO RODAPÉ E SEUS COMPONENTES*/
.rodapé{
    background: linear-gradient(to right, #152564, #3d3774);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.redes-form{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}
.redes-sociais, .formulario{
    height: 100%;
    width: 50%;
}
.redes-sociais img{
    padding: 15px;
}
.redes-sociais{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario__label{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    padding: 20px;
}
.formulario__label h4{
    margin: 20px 0px 20px 0px;
}
.formulario__label___input{
    margin: auto;
    width: 50%;
    height: 35px;
    border-radius: 10px;
}
#submit{
    float: right;
    width: 20%;
    background: #07dfb2;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border: none;
}
#submit:hover{
    background: #05b995;
}
#submit:active{
    background: #12e9be;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
}
.copyright p {
    padding: 15px 0px;
}
/*RESPONSIVIDADE*/
@media only screen and (max-width:750px){
    #header{
        flex-direction: column;
    }
    .logo-box{
        margin-bottom: 20px;
    }
    #nav-bar{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
    }
    .anunciacao, .img-show{
        font-size: 3rem;
        width: 100%;
        height: 50%;
    }
    
    .SabisMix-logo{
        font-size: 5rem;
    }
    .cyborg-img{
        width: 270px;
        align-items: center;
    }
    #sobre{
        flex-direction: column;
        height: 140vh;
    }
    .titulos{
        font-size: 3rem;
        padding: 20px 0px;
    }
    .sobre__descricao{
        width: 100%;
        height: 50%;
    }
    .sobre__descricao___box{
        width: 80%;
    }
    .sobre__descricao___box____paragrafo{
        padding: 10px 0px ;
    }
    .cyborg-img-responsive{
        width: 310px;
    }
    #evento{
        height: 500vh;
    }
    .data, .video{
        flex-direction: column;
        height: 33%;
    }
    .gastroparty{
        flex-direction: column-reverse;
    }
    .data__texto, .gastroparty__texto, .video__texto, .data__img, .gastroparty__img, .video__video{
        width: 100%;
        height: 60%;
        border-top: 5px dashed #162565;
        border-left: none;
        border-right: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .data__img, .gastroparty__img, .video__video{
        height: 40%;
        border-top: 5px dashed white;
        border-bottom: 5px dashed white;
    }
    #pacotes{
        height: auto;
    }
    .pacotes__ingressos{
        flex-direction: column;
        height: auto;
    }
    .pacotes__enunciado___titulo{
        font-size: 2.5rem;
    }
    .card-ingresso{
        width: 90%;
        height: 500px;
        margin: 20px 0px;
    }
    .data__img{
        background: url('img/party-responsive.jpg') center / cover no-repeat;
    }
    .gastroparty__img{
        background: url('img/food-responsive.jpg') center / cover no-repeat;
    }
    .redes-form{
        flex-direction: column-reverse;
    }
    .formulario__label h4{
        text-align: center;
    }
    .formulario__label___input{
        width: 80%;
    }
    #submit{
        margin-top: 30px;
        width: 35%;
    }
}
@media only screen and (min-width: 751px) and (max-width:1279px){
    .anunciacao{
        font-size:4rem;
    }
    .SabisMix-logo{
        font-size: 5rem;
    }
    .cyborg-img-responsive{
        width: 370px;
    }
    .data__texto___paragrafo, .gastroparty__texto___paragrafo, .video__texto___paragrafo{
        font-size: 1.2rem;
    }
    .pacotes__enunciado___titulo{
        font-size: 2.5rem;
    }
    .video__video{
        height: 90%;
    }
    #pacotes{
        height: 120vh;
    }
    .pacotes__ingressos{
        padding: 20px 0px;
    }
    .card-ingresso___titulo{
        font-size: 3rem;
    }
    .card-ingresso___descricao{
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1700px) and (max-width: 2000px){
    .nav-link{
        font-size: 1.7rem;
    }
    .sobre__descricao___box____paragrafo{
        font-size: 2rem;
    }
    .data__texto___paragrafo, .gastroparty__texto___paragrafo, .video__texto___paragrafo{
        font-size: 2rem;
    }
}
@media only screen and (min-width: 2001px){
    .logo-box h1{
        font-size: 3.4rem;
    }
    .nav-link{
        font-size: 2.1rem;
    }
    .anunciacao{
        font-size: 7rem;
    }
    .SabisMix-logo{
        font-size: 10rem;
    }
    .sobre__descricao___box____paragrafo{
        font-size: 2.5rem;
    }
    .titulos{
        font-size: 4rem;
    }
    .data__texto, .gastroparty__texto, .video__texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .data__texto___titulo, .gastroparty__texto___titulo, .video__texto___titulo{
        font-size: 3rem;
    }
    .data__texto___paragrafo, .gastroparty__texto___paragrafo, .video__texto___paragrafo{
        font-size: 2.3rem;
    }
    .card-ingresso___descricao{
        font-size: 2.4rem;
    }
    .formulario__label___input{
        width: 70%;
        height: 45px;
        font-size: 1.5rem;
    }
    #submit{
        width: 30%;
    }
    .copyright{
        font-size: 1.5rem;
    }
}